html, body { height: 100%; }

body {
  width: 100vw;
  height: 80vh;
  margin: 0;
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(320deg, #aaaaaa, #e1e1e1, #fafd77);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 56s ease infinite;
  -moz-animation: AnimationName 56s ease infinite;
  animation: AnimationName 56s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: rgba(250, 235, 215, 0.435);
  padding: 2rem;
  border: rgb(134, 134, 134) 1px solid;
  border-radius: 2rem;
  display: block;
  width: 400px;
  margin: 100px auto 0;
}

.container__child{
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li, h3 {
  clear:both;
  list-style:none;

}
input, button {
  outline: none;
}
button {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  border: 0px;
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #333;
}

.button__add{
  margin-top: 0.5rem;
}

/* Heading */

h2,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  /* margin: 0 0 20px; */
  margin: 0.2rem auto;
}

input#new-task {
  margin: 1rem auto;
  width: 95%;
}

.button__add{
  margin-top: 0.5rem;
}

p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 0.7rem 0;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
  width: 15px;
  height: 15px;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

li >  input[type="text"] {
  width: 226px;
}

li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

.links{
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  background-color: #0FC57C;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border:rgb(61, 61, 61) 1px solid;
  border-radius: 0.5rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
}

.router-link-exact-active{
  text-align: center;
  display: inline-block;
  text-decoration: none;

}

.router-link-active{
  color: #CF2323;
  background-color: #fafd77;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}